* {
  padding: 0;
  margin: 0;
  font-family: 'Itim', cursive;
}

.background {
  background-color: #12181B;
  height: 100vh;
  padding-top: 1px;
}

.title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
}

.input {
  text-align: center;
  width: 300px;
  height: 40px;
  font-size: 30px;
}

.button {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 40px;
  font-size: 28px;
}

.display {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;

}

.tile {
  border: 1px solid white;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}

.playerX {
  color: #09C372;
}

.playerO {
  color: #498AFB;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.controls button {
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
}

.restart {
  background-color: #498AFB;
}

#reset {
  background-color: #FF3860;
}